@inherits WebViewPage<AboutYou>
@{
    ViewBag.Title = "Best Start Grant - About You";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>About You ...</h1>

        <p>Please complete all the details below to register for the Sure Start Maternity Grant.</p>

        <p>You must complete all fields, unless they're marked as (optional)...</p>

        <br />

        <form method="post">

            @Html.ValidationSummary()


            <h2>Your Personal  Details</h2>

            @Html.LabelledInputText(m => m.Title)

            @Html.LabelledInputText(m => m.FirstName)

            @Html.LabelledInputText(m => m.OtherNames)

            @Html.LabelledInputText(m => m.SurnameOrFamilyName)

            @Html.LabelledInputDate(m => m.DateOfBirth)

            @Html.LabelledInputText(m => m.NationalInsuranceNumber)

            <h2>Your Address</h2>

            <p>Please tell us your current address</p>

            @Html.LabelledInputText(m => m.CurrentAddress.Street1)
            @Html.LabelledInputText(m => m.CurrentAddress.Street2)

            @Html.LabelledInputText(m => m.CurrentAddress.TownOrCity)

            @Html.LabelledInputText(m => m.CurrentAddress.Postcode)

            @Html.LabelledInputDate(m => m.CurrentAddress.DateMovedIn)

            @Html.LabelledRadio(m => m.CurrentAddressStatus)

            @Html.LabelledRadio(m => m.ContactPreference)

            @Html.LabelledInputText(m => m.EmailAddress)

            @Html.LabelledInputText(m => m.PhoneNumer)

            @Html.LabelledInputText(m => m.MobilePhoneNumber)


            @Html.ButtonSubmit()

        </form>

    </div><!--
--></div>
