@inherits WebViewPage<AboutYouModel>
@{
    ViewBag.Title = "Best Start Grant - About You";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h1>About You ...</h1>

        <p>Please complete all the details below to register for the Sure Start Maternity Grant.</p>

        <p>You must complete all fields, unless they're marked as (optional)...</p>

        <br />

        <form>

            <h2>Your Personal  Details</h2>

            @Html.LabelledInputText("Title (optional)", m => m.Title)

            @Html.LabelledInputText("First name", m => m.FirstName)

            @Html.LabelledInputText("All other names (optional)", m => m.OtherNames)

            @Html.LabelledInputText("Surname or family name", m => m.SurnameOrFamilyName)

            @(Html.LabelledInputDate("Date of Birth", m => m.DateOfBirth)
                .Hint("For example, 18 03 1980"))

            @(Html.LabelledInputText("National Insurance number", m => m.NationalInsuranceNumberText)
                .Hint("It's on your National Insurance Card, benefit letter, payslip or P60.<br/>For example, 'VO 12 34 56 D'"))

            <h2>Your Address</h2>

            <p>Please tell us your current address</p>

            @Html.LabelledInputText("Street", m => m.CurrentAddress.Street1)
            @Html.LabelledInputText("", m => m.CurrentAddress.Street2)

            @Html.LabelledInputText("Town or City", m => m.CurrentAddress.TownOrCity)

            @Html.LabelledInputText("Postcode", m => m.CurrentAddress.Postcode)

            @(Html.LabelledInputDate("Date You or your Partner moved into this address", m => m.CurrentAddress.DateMovedIn)
                .Hint("For example, 01 01 2012"))

            @Html.LabelledOptionalRadio("Is this address Permanent or Temporary?", m => m.CurrentAddressStatus)

        </form>

    </div><!--
--></div>
