@inherits WebViewPage<ApplicantDetailsModel>
@{
    ViewBag.Title = "Best Start Grant - " + BsgText.ApplicantDetailsTitle();
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>@BsgText.ApplicantDetailsTitle()</h1>

        <p>You must fill in all fields marked with an (*)</p>

        @using (var form = Html.FormFor(Model.ApplicantDetails))
        {

            @form.Html.ValidationSummary()

            <h2>Your Details</h2>

            @form.Html.LabelledInputText(m => m.Title)

            @form.Html.LabelledInputText(m => m.FirstName).Mandatory()

            @form.Html.LabelledInputText(m => m.OtherNames)

            @form.Html.LabelledInputText(m => m.SurnameOrFamilyName).Mandatory()

            @form.Html.LabelledInputDate(m => m.DateOfBirth).AjaxOnChange(BsgActions.Ajax_DobChanged()).Mandatory()

            @form.Html.LabelledRadioYesNo(m => m.PreviouslyLookedAfter).InitiallyHidden().Mandatory()

            @form.Html.LabelledRadioYesNo(m => m.FullTimeEducation).InitiallyHidden().Mandatory()

            @form.Html.LabelledInputText(m => m.NationalInsuranceNumber).Mandatory()

            <h2>Your Address</h2>

            @form.Html.PartialFor(m => m.CurrentAddress, SharedViews.Address, a => new AddressModel { Address = a })

            <div class="info-note note">Enter your phone number and/or your email address so that we can contact you regarding the progress of your application.</div>

            @form.Html.LabelledInputText(m => m.MobilePhoneNumber)

            @form.Html.LabelledInputText(m => m.PhoneNumer)

            @form.Html.LabelledInputText(m => m.EmailAddress)

            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
