@inherits WebViewPage<ApplicantDetailsModel>
@{
    ViewBag.Title = "Best Start Grant - About You";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>About You</h1>

        <p>Please complete all the details below to register for the Sure Start Maternity Grant.</p>

        <p>You must complete all fields, unless they're marked as (optional)...</p>

        @using (var form = Html.FormFor(Model.ApplicantDetails))
        {

            @form.Html.ValidationSummary()

            <h2>Your Personal Details</h2>

            @form.Html.LabelledInputText(m => m.Title)

            @form.Html.LabelledInputText(m => m.FirstName)

            @form.Html.LabelledInputText(m => m.OtherNames)

            @form.Html.LabelledInputText(m => m.SurnameOrFamilyName)

            @form.Html.LabelledInputDate(m => m.DateOfBirth).AjaxOnChange(BsgActions.Ajax_DobChanged())

            @form.Html.LabelledRadioYesNo(m => m.PreviouslyLookedAfter).InitiallyHidden()

            @form.Html.LabelledRadioYesNo(m => m.FullTimeEducation).InitiallyHidden()

            @form.Html.LabelledInputText(m => m.NationalInsuranceNumber)

            <h2>Your Address</h2>

            <p>Please tell us your current address</p>

            @form.Html.PartialFor(m => m.CurrentAddress, BsgViews.Address)

            @form.Html.LabelledInputDate(m => m.DateMovedIn)

            @form.Html.LabelledRadio(m => m.CurrentAddressStatus)

            @form.Html.LabelledRadio(m => m.ContactPreference)

            @form.Html.LabelledInputText(m => m.EmailAddress)

            @form.Html.LabelledInputText(m => m.PhoneNumer)

            @form.Html.LabelledInputText(m => m.MobilePhoneNumber)


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
