@inherits WebViewPage<ApplicantBenefitsModel>
@{
    ViewBag.Title = "Best Start Grant - Your Benefits part 1";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Your benefits</h1>

        @using (var form = Html.FormFor(Model.ApplicantBenefits))
        {

            @form.Html.ValidationSummary()


            @(form.Html.LabelledRadioYesNo(m => m.HasExistingBenefit)
                    .BeforeControl(@"
                <ul>
                    <li>Income Support</li>
                    <li>Income-based Jobseekers Allowance</li>
                    <li>Income-related Employment and Support Allowance</li>
                    <li>Universal Credit</li>
                    <li>Child Tax Credit</li>
                    <li>Working Tax Credit</li>
                    <li>Housing Benefit</li>
                    <li>Pension Credit</li>
                </ul>"))


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
