@inherits WebViewPage<ApplicantBenefitsModel>
@{
    ViewBag.Title = "Best Start Grant - Your Benefits part 2";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Your benefits</h1>

        @using (var form = Html.FormFor(Model.ApplicantBenefits))
        {

            @form.Html.ValidationSummary()


            @form.Html.LabelledRadioYesNo(m => m.ReceivingBenefitForUnder20)

            @form.Html.LabelledRadioYesNo(m => m.YouOrPartnerInvolvedInTradeDispute)


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
