@inherits WebViewPage<BenefitsModel>
@{
    ViewBag.Title = "Best Start Grant - " + Model.Title;
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>@Model.Title</h1>

        <p>You must fill in all fields marked with an (*)</p>

        @using (var form = Html.FormFor(Model.Benefits))
        {

            @form.Html.ValidationSummary()

            <h3><span class="required-icon">*</span> @Model.Question</h3>

            <br />

            @form.Html.LabelledConfirmCheckBox(m => m.HasIncomeSupport)
            @form.Html.LabelledConfirmCheckBox(m => m.HasIncomeBasedJobseekersAllowance)
            @form.Html.LabelledConfirmCheckBox(m => m.HasIncomeRelatedEmplymentAndSupportAllowance)
            @form.Html.LabelledConfirmCheckBox(m => m.HasUniversalCredit)
            @form.Html.LabelledConfirmCheckBox(m => m.HasChildTaxCredit)
            @form.Html.LabelledConfirmCheckBox(m => m.HasWorkingTextCredit)
            @form.Html.LabelledConfirmCheckBox(m => m.HasHousingBenefit)
            @form.Html.LabelledConfirmCheckBox(m => m.HasPensionCredit)

            <br />

            @form.Html.LabelledConfirmCheckBox(m => m.None)
            @form.Html.LabelledConfirmCheckBox(m => m.Unknown)

            <br />

            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
