@inherits WebViewPage<DeclarationModel>
@{
    ViewBag.Title = BsgText.TitlePrefix() + "Declaration";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Declaration</h1>

        @using (var form = Html.FormFor(Model.Declaration))
        {
            @form.Html.ValidationSummary()

            <h2>Review your answers below then submit your application:</h2>

            if (Model.ApplicantDetails != null)
            {
                @Html.PartialFor(m => m.ApplicantDetails, BsgViews.ApplicantDetailsAnswers)
            }

            if (Model.ExpectedChildren != null)
            {
                @Html.PartialFor(m => m.ExpectedChildren, BsgViews.ExpectedChildrenAnswers)
            }

            if (Model.ExistingChildren != null)
            {
                @Html.PartialFor(m => m.ExistingChildren, BsgViews.ExistingChildrenAnswers)
            }

            if (Model.ApplicantBenefits != null)
            {
                @Html.PartialFor(m => m.ApplicantBenefits, BsgViews.BenefitsAnswers, m => new BenefitsAnswersModel { Title = BsgText.ApplicantBenefitsTitle(), Benefits = Model.ApplicantBenefits })
            }

            if (Model.PartnerBenefits != null)
            {
                @Html.PartialFor(m => m.PartnerBenefits, BsgViews.BenefitsAnswers, m => new BenefitsAnswersModel { Title = BsgText.PartnerBenefitsTitle(), Benefits = Model.PartnerBenefits })
            }

            if (Model.GuardianBenefits != null)
            {
                @Html.PartialFor(m => m.GuardianBenefits, BsgViews.BenefitsAnswers, m => new BenefitsAnswersModel { Title = BsgText.GuardianBenefitsTitle(), Benefits = Model.GuardianBenefits })
            }

            if (Model.GuardianPartnerBenefits != null)
            {
                @Html.PartialFor(m => m.GuardianPartnerBenefits, BsgViews.BenefitsAnswers, m => new BenefitsAnswersModel { Title = BsgText.GuardianPartnerBenefitsTitle(), Benefits = Model.GuardianPartnerBenefits })
            }

            if (Model.PartnerDetails != null)
            {
                @Html.PartialFor(m => m.PartnerDetails, BsgViews.RelationDetailsAnswers, m => new RelationDetailsAnswersModel { Title = BsgText.PartnerDetailsTitle(), RelationDetails = Model.PartnerDetails })
            }

            if (Model.GuardianDetails != null)
            {
                @Html.PartialFor(m => m.GuardianDetails, BsgViews.RelationDetailsAnswers, m => new RelationDetailsAnswersModel { Title = BsgText.GuardianDetailsTitle(), RelationDetails = Model.GuardianDetails })
            }

            if (Model.GuardianPartnerDetails != null)
            {
                @Html.PartialFor(m => m.GuardianPartnerDetails, BsgViews.RelationDetailsAnswers, m => new RelationDetailsAnswersModel { Title = BsgText.GuardianPartnerDetailsTitle(), RelationDetails = Model.GuardianPartnerDetails })
            }

            if (Model.HealthProfessional != null)
            {
                @Html.PartialFor(m => m.HealthProfessional, BsgViews.HealthProfessionalAnswers)
            }

            if (Model.PaymentDetails != null)
            {
                @Html.PartialFor(m => m.PaymentDetails, BsgViews.PaymentDetailsAnswers)
            }

            if (Model.Evidence != null)
            {
                @Html.PartialFor(m => m.Evidence, BsgViews.EvidenceAnswers)
            }


            @form.Html.PartialDeclarationForGuardian(Model.RequiresGuardianDeclaration)

            @form.Html.LabelledConfirmCheckBox(m => m.AgreedToLegalStatement).Control(c => c.Emphasise(true)).Mandatory()


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>