@inherits WebViewPage<DeclarationModel>
@{
    ViewBag.Title = "Best Start Grant - Declaration";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Declaration</h1>

        @using (var form = Html.FormFor(Model.Declaration))
        {
            @form.Html.ValidationSummary()

            <h2>Review your answers below:</h2>

            if (Model.ApplicantDetails != null)
            {
                <h3>About You</h3>
                <dl>
                    @Html.AnswerFor(m => m.ApplicantDetails.Title)
                </dl>
            }

            @form.Html.PartialDeclarationForGuardian(Model.RequiresGuardianDeclaration)

            @form.Html.LabelledConfirmCheckBox(m => m.AgreedToLegalStatement).Control(c => c.Emphasise(true)).Mandatory()


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>