@inherits WebViewPage<ExistingChildrenModel>
@{
    ViewBag.Title = "Best Start Grant - Existing Children";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>If the baby has already been born...</h1>

        @using (var form = Html.FormFor(Model.ExistingChildren))
        {

            @form.Html.ValidationSummary()

            for(var i = 0; i < Model.ExistingChildren.Children.Count; i++)
            {
                <h3 class="existing-child">Child @(i + 1)</h3>

                @form.Html.LabelledInputText(m => m.Children[i].FirstName)
                @form.Html.LabelledInputText(m => m.Children[i].Surname)
                @form.Html.LabelledInputDate(m => m.Children[i].DateOfBirth)
                @form.Html.LabelledInputText(m => m.Children[i].RelationshipToChild)
                @form.Html.LabelledRadioYesNo(m => m.Children[i].ChildBenefit)
                @form.Html.LabelledRadioYesNo(m => m.Children[i].FormalKinshipCare)

                @form.Html.FormButton(BsgButtons.RemoveChild, i.ToString(), $"Remove Child {i + 1}")
            }

            @form.Html.FormButton(BsgButtons.AddChild, "Add Child")

            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)


    </div><!--
--></div>
