@inherits WebViewPage<ExistingChildrenModel>
@{
    ViewBag.Title = "Best Start Grant - Existing Children";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Children in the household</h1>

        <p>You must fill in all fields marked with an (*)</p>

        <p>
            List all children in the household.
            You could get a payment for all children under aged 5 and a half.
        </p>

        @using (var form = Html.FormFor(Model.ExistingChildren))
        {

            @form.Html.ValidationSummary()

            <h2>Your children</h2>

            @form.Html.LabelledRadioYesNo(m => m.AnyExistingChildren).Mandatory()

            using (form.Html.ShowWhenYes(m => m.AnyExistingChildren, t => t.Id("children-details")))
            {
                for (var i = 0; i < Model.ExistingChildren.Children.Count; i++)
                {
                    <h3 class="existing-child">Child @(i + 1)</h3>

                    @form.Html.LabelledInputText(m => m.Children[i].FirstName).Mandatory()
                    @form.Html.LabelledInputText(m => m.Children[i].Surname).Mandatory()
                    @form.Html.LabelledInputDate(m => m.Children[i].DateOfBirth).Mandatory()
                    @form.Html.LabelledRadio(m => m.Children[i].Relationship).Mandatory()
                    @form.Html.LabelledRadioYesNo(m => m.Children[i].ChildBenefit).Mandatory()

                    using (form.Html.ShowWhenNo(m => m.Children[i].ChildBenefit, t => t.Id($"child{i}-reason")))
                    {
                        @form.Html.LabelledTextArea(m => m.Children[i].NoChildBenefitReason).Mandatory()
                    }

                    if (Model.ExistingChildren.Children.Count > 1)
                    {
                        @form.Html.FormButton(BsgButtons.RemoveChild, i.ToString(), $"Remove Child {i + 1}", FormHelpers.BsgButtonType.Error)
                    }
                }
                
                @form.Html.FormButton(BsgButtons.AddChild, "Add Another Child", FormHelpers.BsgButtonType.Success)
            }


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)


    </div><!--
--></div>
