@inherits WebViewPage<ExistingChildrenModel>
@{
    ViewBag.Title = "Best Start Grant - Existing Children";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Children in the household</h1>

        <p>You must fill in all fields marked with an (*)</p>

        <p class="asterisk-note">Please list all children in the household</p>

        @using (var form = Html.FormFor(Model.ExistingChildren))
        {

            @form.Html.ValidationSummary()

            <h2>Your children</h2>

            for(var i = 0; i < Model.ExistingChildren.Children.Count; i++)
            {
                <h3 class="existing-child">Child @(i + 1)</h3>

                @form.Html.LabelledInputText(m => m.Children[i].FirstName).Mandatory()
                @form.Html.LabelledInputText(m => m.Children[i].Surname).Mandatory()
                @form.Html.LabelledInputDate(m => m.Children[i].DateOfBirth).Mandatory()
                @form.Html.LabelledInputText(m => m.Children[i].RelationshipToChild).Mandatory()
                @form.Html.LabelledRadioYesNo(m => m.Children[i].ChildBenefit).Mandatory()

                using (form.Html.ShowWhenNo(m => m.Children[i].ChildBenefit, t => t.Id($"child{i}-reason")))
                {
                    @form.Html.LabelledTextArea(m => m.Children[i].NoChildBenefitReason).Mandatory()
                }

                @form.Html.LabelledRadioYesNo(m => m.Children[i].FormalKinshipCare).Mandatory()

                @form.Html.FormButton(BsgButtons.RemoveChild, i.ToString(), $"Remove Child {i + 1}")
            }

            @form.Html.FormButton(BsgButtons.AddChild, "Add Child")


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)


    </div><!--
--></div>
