@inherits WebViewPage<ExpectedChildrenModel>
@{
    ViewBag.Title = "Best Start Grant - Expected Children";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>If a baby is expected</h1>

        <p>You must fill in all fields marked with an (*)</p>

        @using (var form = Html.FormFor(Model.ExpectedChildren))
        {

            @form.Html.ValidationSummary()

            <h2>Pregnancy details</h2>

            @form.Html.LabelledRadioYesNo(m => m.IsBabyExpected).Mandatory()

            @form.Html.LabelledInputDate(m => m.ExpectancyDate)

            @form.Html.LabelledRadioYesNo(m => m.IsMoreThan1BabyExpected)

            @form.Html.LabelledInputInt(m => m.ExpectedBabyCount)


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
