@inherits WebViewPage<ExpectedChildrenModel>
@{
    ViewBag.Title = "Best Start Grant - Expected Children";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>If a baby is expected ...</h1>

        @using (var form = Html.FormFor(Model.ExpectedChildren))
        {

            @form.Html.ValidationSummary()


            @form.Html.LabelledInputDate(m => m.ExpectancyDate)

            @form.Html.LabelledInputInt(m => m.ExpectedBabyCount)

            @form.Html.ButtonSubmitNext()

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
