@inherits WebViewPage<HealthProfessionalModel>
@{
    ViewBag.Title = "Best Start Grant - Health Professional";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Health Professional</h1>

        <p>You must fill in all fields marked with an (*)</p>

        @using (var form = Html.FormFor(Model.HealthProfessional))
        {

            @form.Html.ValidationSummary()           

            <h2>Your midwife, nurse or doctor's details</h2>

            @form.Html.LabelledInputText(m => m.Pin).Mandatory()

            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>