@inherits WebViewPage<PaymentDetailsModel>
@{
    ViewBag.Title = "Best Start Grant - Payment Details";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Payment details</h1>

        @using (var form = Html.FormFor(Model.PaymentDetails))
        {

            @form.Html.ValidationSummary()

            <h2>How we pay you</h2>

            @form.Html.LabelledRadioYesNo(m => m.LackingBankAccount)

            @form.Html.LabelledInputText(m => m.NameOfAccountHolder)

            @form.Html.LabelledInputText(m => m.NameOfBank)

            @form.Html.LabelledInputText(m => m.SortCode)

            @form.Html.LabelledInputText(m => m.AccountNumber)

            @form.Html.LabelledInputText(m => m.RollNumber)


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>