@inherits WebViewPage<RelationDetailsModel>
@{
    ViewBag.Title = "Best Start Grant - " + Model.Title;
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>@Model.Heading</h1>

        @using (var form = Html.FormFor(Model.RelationDetails))
        {

            @form.Html.ValidationSummary()

            <h2>@Model.Heading</h2>

            @form.Html.PartialFor(m => m.Address, BsgViews.Address, a => new AddressModel { Address = a })


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
