@inherits WebViewPage<RelationDetailsModel>
@{
    ViewBag.Title = "Best Start Grant - Your Legal Guardian part 1";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Your Legal Guardian</h1>

        @using (var form = Html.FormFor(Model.RelationDetails))
        {

            @form.Html.ValidationSummary()

            <h2>Your legal guardian's details</h2>

            @form.Html.LabelledInputText(m => m.Title)

            @form.Html.LabelledInputText(m => m.FullName)

            @form.Html.LabelledInputDate(m => m.DateOfBirth)

            @form.Html.LabelledInputText(m => m.NationalInsuranceNumber)

            @form.Html.LabelledInputText(m => m.RelationshipToApplicant)


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
