@inherits WebViewPage<RelationDetailsModel>
@{
    ViewBag.Title = "Best Start Grant - Your Legal Guardian part 2";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Your Legal Guardian</h1>

        @using (var form = Html.FormFor(Model.RelationDetails))
        {

            @form.Html.ValidationSummary()

            <h2>Your legal guardian's address</h2>

            @form.Html.PartialFor(m => m.Address, BsgViews.Address)


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>
