@inherits WebViewPage<UKVerifyModel>
@{
    ViewBag.Title = "Best Start Grant - GOV.UK Verify Consent";
}
<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>We need to identify you</h1>

        @using (var form = Html.FormFor(Model.UKVerify))
        {
            @form.Html.ValidationSummary()

            <p>
                You can continue your application without confirming who you are.
                <hr/>
                <span>This will delay your application. We will contact you in XX number of days.</span>
                <hr style="padding-top:5px; margin-top:5px"/>
                @form.Html.ButtonSubmit("Continue >")
            </p>

            <h2>Before you start:</h2>
            <p>To continue your application we need to confirm who you are. This will be done with GOV.UK Verify.</p>

            <h2>If you've not used Verify before</h2>
            <p>To confirm who you are you'll need:
                <ul>
                    <li>your passport number</li>
                    <li>drivers licence</li>
                    <li>mobile phone</li>
                    <li>bank details</li>
                </ul>
            </p>

            <h2>Already registered with Verify</h2>
            <p>If you've used Verify before, you'll need to know:
                <ul>
                    <li>what company you used to confirm who you are, for example Post Office, Experis</li>
                    <li>your login details</li>
                </ul>
                Check the email you were sent when you registered. If you can't find the information, contact XXXXX.
            </p>

            <p>
                @form.Html.ButtonLinkExternal("gov.ukverifyapply", "Verify Now >")
            </p>

        }

        @Html.BackLink(Model.PreviousAction)

</div><!--
--></div>