@inherits WebViewPage<HarnessModel>
@using FormUI.Controllers.Harness
<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        <h2>Form example</h2>

        <form method="post">

            @Html.ValidationSummary()

            @(Html.LabelledInputText("Text1", m => m.Text1)
                .Hint("optional - no validation"))

            @Html.LabelledTextArea(m => m.Text2)

            @Html.LabelledInputDate("DateTime1", m => m.DateTime1)

            @Html.LabelledInputInt("Int1", m => m.Int1)

            @Html.LabelledRadio("Radio1", m => m.Radio1)

            @Html.LabelledRadioYesNo("Radio4", m => m.Radio4)

            @Html.LabelledConfirmCheckBox(m => m.CheckBox2)

            @Html.ButtonSubmit()

        </form>

    </div><!--
--></div>
