@using FormUI.Controllers.Harness
<div>

    <ul>

        <li style="margin-bottom: 30px;"><a href="@Url.Content(FormUI.Controllers.Home.HomeActions.Index())">return to home page</a></li>

        <li><a href="@Url.Content("~/mygovTemplate/form.html")">mygov.scot example form</a></li>

        <li><a href="@Url.Content(HarnessActions.Layout())">Layout (empty page)</a></li>

        <li><a href="@Url.Content(HarnessActions.InputText())">InputText</a></li>

        <li><a href="@Url.Content(HarnessActions.TextArea())">TextArea</a></li>

        <li><a href="@Url.Content(HarnessActions.InputDate())">InputDate</a></li>

        <li><a href="@Url.Content(HarnessActions.Radio())">Radio</a></li>

        <li><a href="@Url.Content(HarnessActions.CheckBoxes())">CheckBoxes</a></li>

        <li><a href="@Url.Content(HarnessActions.Form())">Form</a></li>

        <li><a href="@Url.Content(HarnessActions.AjaxForm())">Ajax Form</a></li>

        <li><a href="@Url.Content(HarnessActions.ShowHideCheckbox())">Show/Hide checkbox</a></li>

        <li><a href="@Url.Content(HarnessActions.ShowHideRadio())">Show/Hide radio</a></li>

    </ul>

    @if (Request.Url.Host == "localhost")
    {

        <h2>Best Start Grant links ...</h2>
        <ul style="margin-top: 40px;">
            @if (Request.Url.Host == "localhost")
            {
                foreach (FormUI.Domain.BestStartGrantForms.Sections section in Enum.GetValues(typeof(FormUI.Domain.BestStartGrantForms.Sections)))
                {
                    <li><a href="@Url.Content(HarnessController.UnitTestActionFor(section))">unit test form - @(section)</a></li>
                }
            }

            <li><a href="@Url.Content(FormUI.Controllers.Bsg.BsgActions.Ineligible("unitTest"))">Ineligible</a></li>
            <li><a href="@Url.Content(FormUI.Controllers.Bsg.BsgActions.Complete())">Complete</a></li>
        </ul>

        <h2>Change of Circumstances links ...</h2>
        <ul style="margin-top: 40px;">
            @if (Request.Url.Host == "localhost")
            {
                foreach (FormUI.Domain.ChangeOfCircsForm.Sections section in Enum.GetValues(typeof(FormUI.Domain.ChangeOfCircsForm.Sections)))
                {
                    <li><a href="@Url.Content(HarnessController.UnitTestActionFor(section))">unit test form - @(section)</a></li>
                }
            }
        </ul>

    }

</div>
