@using FormUI.Controllers.Harness
<div>

    <ul>

        <li><a href="@Url.Content(HarnessActions.Layout())">Layout (empty page)</a></li>

        <li><a href="@Url.Content(HarnessActions.InputText())">InputText</a></li>

        <li><a href="@Url.Content(HarnessActions.InputDate())">InputDate</a></li>

        <li><a href="@Url.Content(HarnessActions.Radio())">Radio</a></li>

        <li><a href="@Url.Content(HarnessActions.Form())">Form</a></li>

    </ul>

</div>
