@inherits WebViewPage<ApplicantDetailsModel>
@{
    ViewBag.Title = "Change of Circumstances - About You";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

           <h1>About You</h1>

           <p>You must fill in all fields marked with an (*)</p>

           @using (var form = Html.FormFor(Model.ApplicantDetails))
           {

               @form.Html.ValidationSummary()

               <h2>Your details</h2>
               <hint>You can change any of the details to update your information</hint>

               @form.Html.LabelledInputText(m => m.Title)

               @form.Html.LabelledInputText(m => m.FullName).Mandatory()

               @form.Html.PartialFor(m => m.Address, SharedViews.Address, a => new AddressModel { Address = a })

               @form.Html.LabelledInputText(m => m.MobilePhoneNumber)

               @form.Html.LabelledInputText(m => m.HomePhoneNumer)

               @form.Html.LabelledInputText(m => m.EmailAddress)


               @form.Html.ButtonSubmit("Save & Continue >")

           }


        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>