@inherits WebViewPage<DeclarationModel>
@{
    ViewBag.Title = CocText.TitlePrefix() + "Declaration";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Declaration</h1>

        @using (var form = Html.FormFor(Model.Declaration))
        {

            @form.Html.ValidationSummary()

            @form.Html.PartialDeclarationForGuardian(Model.RequiresGuardianDeclaration)

            @form.Html.LabelledConfirmCheckBox(m => m.AgreedToLegalStatement).Control(c => c.Emphasise(true)).Mandatory()


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>