@inherits WebViewPage<EvidenceModel>
@{
    ViewBag.Title = "Change of Circumstances - Documents showing that something has changed";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Documents showing that something has changed</h1>

        @using (var form = Html.FormFor(Model.Evidence, f => f.Attr("enctype", "multipart/form-data")))
        {

            @form.Html.ValidationSummary()

            <h2>You may need to give us documents showing your change of circumstances</h2>

            <h1>Your Personal details</h1>

            <p>You’ll need to send us documents if you’ve changed your name or address. You don't need to send any documents if you've changed your phone number or email.</p>

            <h3>Documents you can send us if you've changed your name:</h3>
            <ul>
                <li>a marriage certificate</li>
                <li>a bank statement</li>
            </ul>

            <h3>Documents you can send us if you've changed your address:</h3>
            <ul>
                <li>utility bill</li>
                <li>a bank statement</li>
            </ul>

            <h3>Documents should be:</h3>
            <ul>
                <li>this kind of format: .pdf, .doc, .docx, .xls, .xlsx, .jpg or .gif</li>
                <li>no more than 2MB</li>
                <li>no more than 20 documents may be uploaded</li>
            </ul>

            <br/>

            if (Model.UploadedFiles.Count == 0)
            {
                <h3>No files uploaded</h3>
            }
            else
            {
                <p>Currently uploaded files:</p>
                <ul id="uploadedFiles" style="width:75%">
                    @foreach (var file in Model.Evidence.Files)
                    {
                        <li>@file.Name @form.Html.FormButtonSmall(CocButtons.RemoveFile, @file.CloudName, $"Remove", FormHelpers.ButtonType.Error)</li>
                    }
                </ul>
            }

            <br/>
            <p>Upload a file</p>

            <input type="file" name="file" />

            <br/><br/>

            @form.Html.FormButton(CocButtons.UploadFile, "Upload selected file")

            <br/>

            <p>
                If you can't upload the documents post them to the address below:
            </p>

            @form.Html.Partial(SharedViews.SsaContactDetails, true)

            @form.Html.LabelledConfirmCheckBox(m => m.SendingByPost).Control(c => c.Emphasise())


            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>