@inherits WebViewPage<IdentityModel>
@{
    ViewBag.Title = "Change of Circumstances - Authentication";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Authentication</h1>

        <form method="post" class="sg-form">

            @Html.ValidationSummary()

            <h3>Tell us who you are</h3>
            <p>
                Enter your email address to receive a unique link
            </p>

            @Html.LabelledInputText(m => m.Email).Mandatory()

            <p>
                If you do not have an email address please contact us on XXX XXX XXXX
                or arrange for us to <a href="#">call you back</a>
            </p>

            @Html.ButtonSubmitNext(Model.IsFinalPage)

            <h2>Before you start:</h2>
            <p>To continue your application we need to confirm who you are. This will be done with GOV.UK Verify.</p>

            <h2>If you've not used Verify before</h2>
            <p>
                To confirm who you are you'll need:
                <ul>
                    <li>your passport number</li>
                    <li>drivers licence</li>
                    <li>mobile phone</li>
                    <li>bank details</li>
                </ul>
            </p>

            <h2>Already registered with Verify</h2>
            <p>
                If you've used Verify before, you'll need to know:
                <ul>
                    <li>what company you used to confirm who you are, for example Post Office, Experis</li>
                    <li>your login details</li>
                </ul>
                Check the email you were sent when you registered. If you can't find the information, contact XXXXX.
            </p>

            <p>
                @Html.ButtonLinkExternal("gov.ukverifyapply", "Verify Now >")
            </p>

        </form>

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>