@inherits WebViewPage<IdentityModel>
@{
    ViewBag.Title = CocText.TitlePrefix() + "Authentication";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>Tell us who you are</h1>

        <form method="post" class="sg-form">

            @Html.ValidationSummary()

            <p>You have 2 options to tell us who you are:</p>

            <h2>1. Confirm who you are with your email address:</h2>

            <p>
                You can continue your application now by entering your email address.
            </p>

            @Html.LabelledInputText(m => m.Email).Mandatory()

            <p>
                If you do not have an email address, contact us on 01010 101 010 
                or arrange for us to <a href="#">call you back</a>
            </p>

            @Html.ButtonSubmit("Start Option 1 >")

        </form>

        <br/>

        <h2>2. Confirm who you are with Verify:</h2>

        <p>To confirm who you are now you need to use Verify. This should mean your application is processed quicker.</p>

        @Html.ButtonLink(Model.VerifyPath, "Start Option 2 >")
        
        <br/>

        <h3>Before you start:</h3>

        <h2>If you've not used Verify before</h2>
        <p>
            You need to have 1 or more of the following to use this:
            <ul>
                <li>passport number</li>
                <li>drivers licence</li>
                <li>mobile phone</li>
                <li>bank details</li>
            </ul>
        </p>

        <h2>Already registered with Verify</h2>
        <p>
            If you've used Verify before, you'll need to know:
            <ul>
                <li>what service you used to confirm who you are, for example Post Office</li>
                <li>your login details</li>
            </ul>
        </p>

    
        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>