@inherits WebViewPage<OptionsModel>
@{
    ViewBag.Title = CocText.TitlePrefix() + "Options";
}

<div class="grid"><!--
    --><div class="grid__item large--eight-twelfths">

        @Html.BackLink(Model.PreviousAction)

        <h1>What do you want to change</h1>

        @using (var form = Html.FormFor(Model.Options))
        {

            @form.Html.ValidationSummary()

            <h2>You can choose more than one option</h2>

            <br/>

            @form.Html.LabelledConfirmCheckBox(m => m.ChangePersonalDetails)
            @form.Html.LabelledConfirmCheckBox(m => m.ChangePartnerDetails).Control(c => c.Disabled())
            @form.Html.LabelledConfirmCheckBox(m => m.ChangeChildrenDetails).Control(c => c.Disabled())
            @form.Html.LabelledConfirmCheckBox(m => m.AddExpectedBaby).Control(c => c.Disabled())
            @form.Html.LabelledConfirmCheckBox(m => m.ChangePaymentDetails)
            @form.Html.LabelledConfirmCheckBox(m => m.Other)

            using (form.Html.ShowWhenChecked(m => m.Other, t => t.Id("other-detail")))
            {
                @form.Html.LabelledTextArea(m => m.OtherDetails).Mandatory()
            }

            <br />

            @form.Html.ButtonSubmitNext(Model.IsFinalPage)

        }

        @Html.BackLink(Model.PreviousAction)

    </div><!--
--></div>