<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SG Alpha 2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"1258b1c5-a6d5-421f-8d30-0ef25e455f85"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body class="article">

    <div class="wrapper header-bar">
        <div class="header-with-search-container clearfix">

            <div class="site-brand">
                <div class="site-brand__link">
                    <a id="mygov-logo" class="site-brand__logo" data-gtm="logo-mygov" href="#">
                        @Html.Partial("_mygovscotlogo")
                    </a>
                </div>
            </div>

            <div class="search-box">
                <form class="search-box__form" method="GET" action="/search/">
                    <label class="search-box__label hidden" for="search-box">Search</label>
                    <input name="q" required="" id="search-box" class="search-box__input" type="text" placeholder="Search mygov.scot" autocomplete="off" disabled>
                    <input type="hidden" value="sitesearch" name="cat">

                    <button type="submit" title="search" class="search-box__button button button--primary" disabled>
                        <img alt="" class="search-box__icon" src="@Url.Content("~/Content/images/search-white_2x.png")">
                        <span class="hidden">Search mygov.scot</span>
                    </button>
                </form>
            </div>

        </div>
    </div>

    <div class="wrapper">
        <div class="header-separator header-separator--eight-twelfths"> </div>
    </div>

    <div id="body-wrapper">
        <div class="wrapper main">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
