<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" type="text/css">

    <!--[if lte IE 8]>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100" />
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300" />
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400" />
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500" />
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700" />
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:900" />
        <![endif]-->

    <title>@ViewBag.Title - SG Alpha 2</title>

    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
        }({
            instrumentationKey:"1258b1c5-a6d5-421f-8d30-0ef25e455f85"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body class="article">

    <div class="wrapper header-bar">
        <div class="header-with-search-container clearfix">

            <div class="site-brand">
                <div class="site-brand__link">
                    <a id="mygov-logo" class="site-brand__logo" data-gtm="logo-mygov" href="#">
                        @Html.Partial("_mygovscotlogo")
                    </a>
                </div>
            </div>

            <div class="search-box">
                <form class="search-box__form" method="GET" action="/search/">
                    <label class="search-box__label hidden" for="search-box">Search</label>
                    <input name="q" required="" id="search-box" class="search-box__input" type="text" placeholder="Search mygov.scot" autocomplete="off" disabled>
                    <input type="hidden" value="sitesearch" name="cat">

                    <button type="submit" title="search" class="search-box__button button button--primary" disabled>
                        <img alt="" class="search-box__icon" src="@Url.Content("~/Content/images/search-white_2x.png")">
                        <span class="hidden">Search mygov.scot</span>
                    </button>
                </form>
            </div>

        </div>
    </div>

    <div class="wrapper">
        <div class="header-separator header-separator--eight-twelfths"> </div>
    </div>

    <div id="body-wrapper">
        <div class="wrapper main">
            @RenderBody()
        </div>
    </div>

    <footer id="site-footer" class="site-footer">
        <div class="wrapper">
            <ul class="site-items grid hidden-xsmall hidden-medium"><!--
                --><li class="site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="About" data-gtm="link-footer">About</a>
                </li><!--
                --><li class="site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="Accessibility" data-gtm="link-footer">Accessibility</a>
                </li><!--
                --><li class="site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="Cookies" data-gtm="link-footer">Cookies</a>
                </li><!--
                --><li class="site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="Feedback" data-gtm="link-footer">Feedback</a>
                </li><!--
                --><li class="site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="myaccount" data-gtm="link-footer">myaccount</a>
                </li><!--
                --><li class="site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="Privacy" data-gtm="link-footer">Privacy</a>
                </li><!--
            --></ul>

            <ul class="site-items grid visible-xsmall visible-medium"><!--
                --><li class="grid__item six-twelfths site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="About" data-gtm="link-footer">About</a>
                </li><!--
                --><li class="grid__item six-twelfths site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="Accessibility" data-gtm="link-footer">Accessibility</a>
                </li><!--
                --><li class="grid__item six-twelfths site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="Cookies" data-gtm="link-footer">Cookies</a>
                </li><!--
                --><li class="grid__item six-twelfths site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="Feedback" data-gtm="link-footer">Feedback</a>
                </li><!--
                --><li class="grid__item six-twelfths site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="myaccount" data-gtm="link-footer">myaccount</a>
                </li><!--
                --><li class="grid__item six-twelfths site-items__item">
                    <a class="site-items__link" href="#" target="_self" title="Privacy" data-gtm="link-footer">Privacy</a>
                </li><!--
            --></ul>

            <div class="grid"><!--
                --><div class="grid__item medium--six-twelfths">
                    <p class="site-footer__summary">
                        mygov.scot is the place for people in Scotland to access public services that are easy to find and simple to use.  Please give us your
                        <a href="#">feedback</a> on how we can improve this service.
                    </p>
                </div><!--

                --><div class="grid__item medium--six-twelfths">
                    <a data-gtm="logo-govscot" id="govscot-logo" class="site-footer__gov-logo" title="The Scottish Government" href="#">
                        @Html.Partial("_mygovlogo")
                    </a>
                </div><!--
            --></div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
