@inherits WebViewPage<BenefitsAnswersModel>
@using (var form = Html.ForModel(Model.Benefits))
{
    <div class="answers-section">
        <h3>@Model.Title</h3>
        <dl>
            @form.Html.AnswerFor(m => m.HasIncomeSupport)
            @form.Html.AnswerFor(m => m.HasIncomeBasedJobseekersAllowance)
            @form.Html.AnswerFor(m => m.HasIncomeRelatedEmplymentAndSupportAllowance)
            @form.Html.AnswerFor(m => m.HasUniversalCredit)
            @form.Html.AnswerFor(m => m.HasChildTaxCredit)
            @form.Html.AnswerFor(m => m.HasWorkingTextCredit)
            @form.Html.AnswerFor(m => m.HasHousingBenefit)
            @form.Html.AnswerFor(m => m.HasPensionCredit)
            @form.Html.AnswerFor(m => m.None)
            @form.Html.AnswerFor(m => m.Unknown)
        </dl>
    </div>
}
